<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closeCommentModal()">
        <span ion-text color="primary" showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android,windows, core"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="comment" *ngFor="let comment of entry.comments">

    <div> {{ comment.content }}</div>

    <div class="comment-metadata">

      <button ion-button clear small (click)="sendMail(comment.email)"> {{ comment.contact }} </button>
      <div> {{ comment.timeStamp | date: short }}</div>

    </div>

  </div>

</ion-content>

<ion-footer *ngIf="appModelService.isOnline()">
  <ion-toolbar>
    <ion-item>
      <ion-input [(ngModel)]="commentContent" placeholder="Add Comment ..." clearInput></ion-input>
    </ion-item>

    <ion-buttons end>
      <button ion-button icon-only (click)="addComment()">
        <ion-icon name="arrow-round-up"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
