<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closeCommentModal()">
        <span ion-text color="primary" showWhen="ios">{{ 'CLOSE' | translate:param }}</span>
        <ion-icon name="md-close" showWhen="android,windows, core"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'COMMENTS' | translate:param }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="comment" *ngFor="let comment of entry.comments">

    <div> {{ comment.content }}</div>

    <div class="comment-metadata">
      <button ion-button clear small (click)="sendMail(comment.email)"> {{ comment.contact }} </button>
      <div> {{ comment.timeStamp | date: "dd.MM.yy, HH:mm"}}</div>
    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="appModelService.isOnline()">

    <ion-item>
      <ion-input  [(ngModel)]="commentContent" placeholder="{{ 'ADD_COMMENT_PLACEHOLDER' | translate:param }}" clearInput (keyup.enter)="addComment()"></ion-input>
    </ion-item>

    <ion-buttons end>
      <button ion-button icon-only (click)="addComment()">
        <ion-icon name="arrow-round-up"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar *ngIf="!appModelService.isOnline()">

    <ion-item>
      <ion-input [(ngModel)]="commentContent" placeholder="{{ 'ADD_COMMENT_PLACEHOLDER' | translate:param }}" clearInput disabled></ion-input>
    </ion-item>

    <ion-buttons end>
      <button ion-button icon-only (click)="addComment()" disabled>
        <ion-icon name="arrow-round-up"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
