<ion-header>

  <ion-navbar>
    <ion-buttons start>

      <button ion-button (click)="closeAttachmentModal()" *ngIf="!isEditMode">
        <span ion-text color="primary" showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android,windows, core"></ion-icon>
      </button>

      <button ion-button (click)="closeAttachmentModal(true)" *ngIf="isEditMode">
        <span ion-text color="primary" showWhen="ios">Done</span>
        <ion-icon name="md-checkmark" showWhen="android,windows, core"></ion-icon>
      </button>

    </ion-buttons>
    <ion-title>{{ "ATTACHMENTS" | translate:param }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Print list with all attachments retreived for entry and department -->
  <ion-list>
    <button ion-item *ngFor="let attachment of attachments"
            (click)="openAttachment(attachment.url)">

      {{ attachment.name }}

      <ion-icon name="trash" item-end *ngIf="isEditMode"
                (click)="removeAttachment(attachment)"></ion-icon>

    </button>

    <button ion-button *ngIf="isEditMode" (click)="showAddAttachmentAlert()">
      {{ "ADD_ATTACHMENTS" | translate:param }}
    </button>

  </ion-list>

</ion-content>
