<ion-header>

  <ion-navbar>
    <ion-buttons start>

      <button ion-button (click)="closeAttachmentModal()">
        <span ion-text color="primary" showWhen="ios">{{ "CLOSE" | translate:param }}</span>
        <ion-icon name="md-close" showWhen="android,windows, core"></ion-icon>
      </button>

    </ion-buttons>

    <ion-title>{{ "ATTACHMENTS" | translate:param }}</ion-title>

    <ion-buttons end>

      <button ion-button (click)="closeAttachmentModal(true)" *ngIf="isEditMode">
        <span ion-text color="primary" showWhen="ios">{{ "DONE" | translate:param }}</span>
        <ion-icon name="md-checkmark" showWhen="android,windows, core"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- Print list with all attachments retreived for entry and department -->
  <ion-list>

    <button ion-item *ngFor="let attachment of attachments" (click)="openAttachment(attachment.url)">
      {{ attachment.name }}
      <ion-icon name="trash" item-end *ngIf="isEditMode" (click)="removeAttachment(attachment)">
      </ion-icon>
    </button>

    <ion-item *ngIf="isEditMode">

      <ion-toolbar>
        <ion-item>
          <ion-input [(ngModel)]="name" placeholder="{{ 'NAME' | translate:param }}" clearInput></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="url" placeholder="{{ 'URL' | translate:param }}" clearInput (keyup.enter)="addAttachment()"></ion-input>
        </ion-item>

        <ion-buttons end>
          <button ion-button icon-only (click)="addAttachment()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>

      </ion-toolbar>

    </ion-item>

  </ion-list>
</ion-content>