<ion-header>

  <ion-navbar>
    
    <ion-buttons start *ngIf="isModal">
      <button ion-button (click)="closeUserSettingsModal()">
        <span ion-text color="primary" showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android,windows, core"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title> Settings </ion-title>

    <ion-buttons end *ngIf="!isModal">
      <button ion-button icon-only (click)="pushSearch()">
        <ion-icon name="search"></ion-icon>
      </button>

      <button ion-button icon-only (click)="presentLanguagePopover($event)">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list class="form-group">
    <ion-item *ngFor="let department of userDepartmentFilterCheckboxObject">
      <ion-label>{{ department.department.departmentName }}</ion-label>
      <ion-checkbox [(ngModel)]="department.checked"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>