<ion-header>
  <ion-navbar>
    <ion-buttons start>

      <button ion-button (click)="closeLinkedObjectsModal()" *ngIf="!isEditMode">
        <span ion-text color="primary" showWhen="ios">{{ "CLOSE" | translate:param }}</span>
        <ion-icon name="md-close" showWhen="android,windows, core"></ion-icon>
      </button>

      <button ion-button (click)="closeLinkedObjectsModal(true)" *ngIf="isEditMode">
        <span ion-text color="primary" showWhen="ios">{{ "DONE" | translate:param }}</span>
        <ion-icon name="md-checkmark" showWhen="android,windows, core"></ion-icon>
      </button>

    </ion-buttons>
    <ion-title>{{ "RELATED" | translate:param }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item-group *ngIf="relatedDepartments != undefined || isEditMode">
    <ion-item-divider color="light">
      {{ "DEPARTMENTS" | translate:param }}
    </ion-item-divider>

    <ion-item *ngFor="let department of relatedDepartments"> {{ appModelService.getDepartmentById(department).departmentName }}

      <ion-icon name="trash" item-end (click)="removeRelatedDepartment(department)" *ngIf="isEditMode"></ion-icon>

    </ion-item>

    <ion-item *ngIf="isEditMode">
      <button ion-button (click)="showRelatedDepartmentsCheckboxAlert()">
        {{ "ADD_DEPARTMENT" | translate:param }}
      </button>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="synonyms != undefined || isEditMode">
    <ion-item-divider color="light">
      {{ "ENTRIES" | translate:param }}
    </ion-item-divider>

    <ion-item *ngFor="let entry of (relatedEntries | async)"> {{ entry.name }}

      <ion-icon name="trash" item-end *ngIf="isEditMode" (click)="removeRelatedEntry(entry._id)"></ion-icon>

    </ion-item>

    <ion-item *ngIf="isEditMode">
      <button ion-button (click)="openEntryListModal()">
      {{ "ADD_ENTRY" | translate:param }}
      </button>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="synonyms != undefined || isEditMode">
    <ion-item-divider color="light">
      {{ "SYNONYMS" | translate:param }}
    </ion-item-divider>

    <ion-item *ngFor="let synonym of synonyms"> {{ synonym }}

      <ion-icon name="trash" item-end *ngIf="isEditMode" (click)="removeSynonym(synonym)"></ion-icon>

    </ion-item>

    <ion-item *ngIf="isEditMode">
      <ion-toolbar>

        <ion-item>
          <ion-input [(ngModel)]="synonym" placeholder="{{ 'ADD_SYNONYM_DOTS' | translate:param }}" clearInput (keyup.enter)="addSynonym()"></ion-input>
        </ion-item>

        <ion-buttons end>
          <button ion-button icon-only (click)="addSynonym()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>

      </ion-toolbar>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="acronyms != undefined || isEditMode">
    <ion-item-divider color="light">
      {{ "ACRONYMS" | translate:param }}
    </ion-item-divider>

    <ion-item *ngFor="let acronym of acronyms"> {{ acronym }}
      <ion-icon name="trash" item-end *ngIf="isEditMode" (click)="removeAcronym(acronym)"></ion-icon>
    </ion-item>

    <ion-item *ngIf="isEditMode">
      <ion-toolbar>

        <ion-item>
          <ion-input [(ngModel)]="acronym" placeholder="{{ 'ADD_ACRONYM_DOTS' | translate:param }}" clearInput (keyup.enter)="addAcronym()"></ion-input>
        </ion-item>

        <ion-buttons end>
          <button ion-button icon-only (click)="addAcronym()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>

      </ion-toolbar>
    </ion-item>
  </ion-item-group>

</ion-content>