<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item>
        Settings
      </button>
      <button ion-item (click)="logout()">
        Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-header>

  <ion-navbar>
    <!-- Menu toggle for burger menu -->
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <!-- Title, hided if searchbar unhided -->
    <ion-title>Glossarhino</ion-title>

    <!-- Hide buttons if Searchbar unhided -->
    <ion-buttons end>
      <button ion-button icon-only (click)="pushSearch()">
        <ion-icon name="search"></ion-icon>
      </button>

      <button ion-button icon-only (click)="presentLanguagePopover($event)">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content #content class="card-background-page">

  <!-- ion-grid for responsive design -->
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <!-- col for "All" departments -->
      <ion-col col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-6>
        <ion-card (click)="pushList()" tappable>
          <img src="assets/img/homePage/all.jpg"/>
          <div class="card-title">All</div>
          <div class="card-subtitle">{{ homePageInterface.getListings() }} Listings</div>
        </ion-card>
      </ion-col>


      <!-- col for the different departments -->
      <ng-container *ngFor="let departmentId of departments">
        <ion-col col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-6 *ngIf="filter[departmentId]">
          <!-- Cards show one category each, currently using dummy implementation -->
          <ion-card (click)="pushList(departmentId)" tappable>
            <img src="assets/img/homePage/{{departmentId}}.jpg"/>
            <div class="card-title">{{ homePageInterface.resolveDepartmentId(departmentId) }}</div>
            <div class="card-subtitle">{{ homePageInterface.getListings(departmentId) }} Listings
            </div>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

</ion-content>
