<ion-header>
  <ion-navbar>

    <!-- Menu toggle for burger menu -->
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <!-- Title, hided if searchbar unhided -->
    <ion-title *ngIf="!toggled">Glossarhino</ion-title>

    <!-- Searchbar, if unhidden Title and Buttons(end) will be hidden -->
    <ion-searchbar *ngIf="toggled" placeholder="Search articles" autocorrect="off" type="text" [(ngModel)]="searchText" showCancelButton="false"
      (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>

    <!-- Hide buttons if Searchbar unhided -->
    <ion-buttons end *ngIf="!toggled">
      <button ion-button icon-only (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>

      <button ion-button icon-only>
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<!-- Burger Side Menu -->
<ion-menu [content]="mycontent" [persistent]="true">
  <ion-content padding>
    <ion-list>
      <p>Menu content will go here</p>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Set root component for Burger Side Menu -->
<ion-nav #mycontent [root]="rootPage"></ion-nav>

<!-- Content of the Homepage -->
<ion-content padding class="card-background-page">

  <!-- Cards show one category each, currently using dummy implementation -->
  <ion-card *ngFor="let department of departments">
    <img [navPush]="singleEntryPage" src="assets/img/example4.jpg" />
    <div [navPush]="singleEntryPage" class="card-title">{{ department }}</div>
    <div [navPush]="singleEntryPage" class="card-subtitle">28 Listings</div>
  </ion-card>

</ion-content>